<div class="slideshow size-limited {{ extraClasses is defined ? extraClasses }}" id="{{ id }}" {{ attributes is defined ? attributes }}>
    <span class="center-vertically">
        <button class="slideshow-left">
            <span class="fa fa-chevron-circle-left"></span>
        </button>
    </span>
    <ul>
        {% set visiblePanel = visiblePanel is defined ? visiblePanel : 0 %}
        {% for panel in panels %}
            <li {{ panel["id"] is defined ? "id="~panel["id"] }}
                class="slideshow-panel center-vertically {% if visiblePanel == loop.index0 %}visible{% endif %}"
                x-anchor-offset="-1">
                {{ panel["content"]|raw }}
            </li>
        {% endfor %} 
        {% block panels %}
        {% endblock %}
    </ul>
    <span class="center-vertically">
        <button class="slideshow-right">
            <span class="fa fa-chevron-circle-right"></span>
        </button>
    </span>
</div>