{% set HOST = constant("HOST") %}
{% set styles = (styles is defined ? styles : [])|merge(["frame", "font-awesome.min", "containers"]) %}
{% set scripts = (scripts is defined ? scripts : [])|merge(["utils", "onpage-link-scroll", "lib/jquery.copycss"]) %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Computer Steiner{{ title is defined ? " >> "~title }}</title>
    {% block head %}
    <style>
        {{ "@font-face{font-family: 'FontAwesome';src: url('" }}{{ HOST }}{{ "/fonts/fontawesome-webfont.eot?v=4.7.0');src: url('" }}{{ HOST }}{{ "/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('" }}{{ HOST }}{{ "/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('" }}{{ HOST }}{{ "/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('" }}{{ HOST }}{{ "/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('" }}{{ HOST }}{{ "/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight: normal;font-style: normal;}" }}
    </style>
    {% for style in styles %}
        <link rel="stylesheet" href="{{ HOST }}/styles/{{ style }}.css" />
    {% endfor %}
    <script src="{{ HOST }}/scripts/lib/jquery-3.2.1.min.js"></script>
    {% for script in scripts %}
        <script src="{{ HOST }}/scripts/{{ script }}.js"></script>
    {% endfor %}
    {% endblock %}
</head>
<body>
    <header>
        <div id="header-wrapper">
            <div id="header-content">
                <nav>
                    <ul>
                        {% for item in
                        [
                            {"title": "Unternehmen", "dropdown": ["Über Uns", "Kontakt"]},
                            {"title": "Produkte", "dropdown": ["CS-Transport", "CS-Bus", "CS-Routing"]},
                            {"title": "News", "dropdown": ["CS-Transport", "CS-Bus", "CS-Routing"]},
                        ] %}
                            {% set dropdownLinks = [] %}
                            {% for dropdownItem in item["dropdown"] %}
                                {% set dropdownLinks = dropdownLinks|merge([dropdownItem|identifier(item["title"])]) %}
                            {% endfor %}
                            <li class="dropdown-root drop-on-hover">
                                <a class="center-vertically" href="#{{ dropdownLinks|first }}">
                                    <span>{{ item["title"] }}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <h2>{{ item["title"] }}</h2>
                                    {% for dropdownItem in item["dropdown"] %}<li><a href="#{{ dropdownLinks[loop.index0] }}" >{{ dropdownItem }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        <li class="dropdown-root drop-on-hover">
                            <a class="center-vertically" href="https://get.teamviewer.com/Tvw_k" target="_blank">
                                <span>Support</span>
                            </a>
                            <ul class="dropdown-menu">
                                <h2>Support</h2>
                                <li><a href="https://get.teamviewer.com/Tvw_k" target="_blank">Teamviever</a></li>
                                <li><a href="{{ HOST }}/downloads/Fvw_k.exe">Fastviewer</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                {% set langs = ["de", "en"] %}
                 <div id="language-selector" class="dropdown-root drop-on-hover" tabindex="0">
                     <span id="current-lang" class="center-vertically toggleable"><span class="fa fa-globe"></span>DE</span>
                     <ul id="language-dropdown" class="dropdown-menu">
                         <h2>Sprache</h2>
                         {% for lang in langs %}
                            <li><a>{{ lang }}</a></li>
                         {% endfor %}
                     </ul>
                 </div>
                <div id="logo" class="center-vertically">
                    <a href="#top">
                        <img src="{{ HOST }}/images/cs-logo.png" alt="Logo" />
                    </a>
                </div>
            </div>
        </div>
    </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div id="footer-content">
                <div id="footer-left">
                    <span>Computer Steiner GmbH &copy; 2017</span>
                    <a href="">Impressum</a>
                    <a href="">AGB</a>
                </div>
                <a id="footer-back-to-top" href="#top">Zum Seitenanfang</a>
            </div>
        </footer>
</body>
</html>
