{% extends "components/titled-section.html.twig" %}

{% set title = "contact"|bundle %}
{% set identifier = "contact"|bundle|lower %}
{#% set attributes = "x-anchor-offset=-.35"%#}

{% block sectionBody %}
    <div class="two-column">
        <address>
            <div class="postal">
                {{ "address"|bundle|raw }}
            </div>
            <div class="digital">
                <div><span class="fa fa-phone">&nbsp;</span><a href="tel:+43-7752-870710">+43 7752 870710</a></div>
                <div><span class="fa fa-envelope">&nbsp;</span> <a href="mailto:office@computer-steiner.com">office@computer-steiner.com</a></div>
            </div>
        </address>
        <div>
            <p class="opening-hours">
                <strong>{{ "openingHours"|bundle }}</strong><br>
                {{ "openingDays"|bundle }}<br>
                {% for time in ["Morning", "Afternoon"] %}
                    <span class="opening-time">
                        <span class="time-part">{{ ("openingTimes"~time~"From")|bundle }}</span>
                        <span class="delimeter">-</span>
                        <span class="time-part">{{ ("openingTimes"~time~"To")|bundle }}</span>
                    </span>
                    {% if not loop.last %}<br>{% endif %}
                {% endfor %}
            </p>
            <span class="fa fa-facebook">&nbsp;</span> <a href="https://www.facebook.com/computersteiner?fref=ts" target="_blank">Facebook</a><br>
            <span class="fa fa-info-circle">&nbsp;</span><a href="{{ HOST }}/imprint?lang={{ lang }}">{{ "imprint"|bundle }}</a>
        </div>
    </div>
{% endblock %}